<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.elmboot.mapper.FoodMapper">
	
	<insert id="copyFood" parameterType="Food" useGeneratedKeys="true" keyProperty="foodId">
    	<!-- 插入一条新记录，数据来自原记录 -->
    	INSERT INTO food (foodName, foodExplain, foodImg, foodPrice, businessId, remarks, delTag)
    	VALUES (#{foodName}, #{foodExplain}, #{foodImg}, #{foodPrice}, #{businessId}, #{remarks}, 1)

    </insert>

</mapper>    